<div class="container">
 <div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        商品の詳細
      </div>
    </div>
    <div class="panel-body">
       <div class="food-profile">
         <asside class="col-xs-5">
           <div class="word text-center">
            <%= @food.name %>
           </div>
           <div class="icon text-center">
            <img src="/sara.png" alt="" >
           </div>
           <div class="h2 text-center">
            <%= @food.calorie %><span class="text-muted">kcal</span>
           </div>
         </asside>
         <div class="col-xs-6">
           <div class="word2">comment</div>
           <div class="box2">
             <div class="name text-left"><p><%= @food.comment %></p></div>
           </div>
         </div>
         </div>
       </div>
       <div class="panel-footer">
         <div class="icon text-center">
         <% if current_user == @food.user %>
            <%= link_to "この商品を消す", @food , method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
            <%= link_to 'この商品を編集する', edit_food_path(@food), class: 'btn btn-primary' %>
        <% else %>
            <%= render "favorites/favorite_button", food: @food %>
         <% end %>
         </div>
   </div>
  </div>
 </div>
</div>