<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        商品の詳細
      </div>
    </div>
    <div class="panel-body">
       <div class="food-profile">
         <div class="name text-center">
            <h1><%= @food.name %></h1>
         </div>
         <div class="icon text-center">
            <img src="/sara.png" alt="" >
         </div>
         <div class="name text-center">
            <h1><%= @food.calorie %><span class="text-muted">kcal</span></h1>
         </div>
      </div>
      <div class="col-sm-8">
      <div class="box">
    <span class="box-title">comment</span>
    <p>ここに文章</p>
    </div>
</div>
   <div class="name text-center">
       <p>comment</p>
     <%= @food.comment %>
   <%= render "favorites/favorite_button", food: @food %>
   
   <% if current_user == @food.user %>
      <%= link_to "Delete", @food , method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
      <%= link_to '編集する', edit_food_path(@food), class: 'btn btn-primary btn-xs'  %>
   <% end %>
   </div>
</div>
</div>
</div>